package $packageName

import lombok.Data;

/**
 * 
 */

@Data
public class $className {

    <%fields.each() {%>
    /**
     * ${it.comment}"
     * ${it.annos}
     */
     private ${it.type} ${it.name};
    <%}%>

}