## Info

** search TODO//complete to handle those.

#### step
- [api] ==== mybatis, dto,dao,service, controller, test-controller ====
- [api] mybatis: insert seq
- [api] controller: getBzCd()
- [api] run controller-test

- [ui] ==== model,enum,service, page ====
- [ui] change *.module.ts, *-routing.module.ts


#### groovy test
groovy version: <%= GroovySystem.version %>

pkFieldsFirst: <%= pkFieldsFirst.name %>
