package ${ITEMS.SEARCH_CRITERIA.packageName};

import com.shinsegae.villiv.common.SearchCriteria;
import lombok.Data;

/**
 * <%= tableComment %> 조회 조건
 */
@Data
public class ${className}SearchCriteria extends SearchCriteria {



}