package $packageNameDTO

import lombok.Data;

/**
 * ${className}VO
 */

@Data
public class ${className}Controller {

    <%fields.each() {%>
    /**
     * ${it.comment}
     * column: ${it.dbName}
     */
     private ${it.type} ${it.name};
    <%}%>

}