package ${ITEMS.DTO.packageName};

import lombok.Data;

/**
 * <%= tableComment %> DTO
 */

@Data
public class ${className}DTO {


    //=========== [s] custom added ===========

    //=========== [e] custom added ===========

    <%fields.each() {%>
    /**
     * ${it.comment}
     * ${it.dbName}
     */
     private ${it.dtoTypeStr} ${it.name};
    <%}%>

}