package ${ITEMS.DTO.packageName};

import lombok.Data;

/**
 *
 */

@Data
public class ${className}DTO {

    <%fields.each() {%>
    /**
     * ${it.comment}
     */
     private ${it.type} ${it.name};
    <%}%>

}