//== test: don't delete
a=1

//== true, false 는 key + "String" 혹은 key + "_STRING" 으로 처리

//= table 이름 t_ 제거
REMOVE_TABLE_PREFIX_STRING = true

//= 업무 이름 *******: (bizNameDynamicYn: table명 두번째 필드로 task 이름 계산)
//bizNameDynamicYnString = true
bizNameDynamicYnString = false
bizName = cust

//= package base name:
packageNameBase = com.shinsegae.villiv

